body{
    font-family: 'Manrope','Bakbak One','Times New Roman', Helvetica, sans-serif;
    background-color: skyblue;
}

button{
    border:3px solid black;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Manrope','Nixie One','Times New Roman', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: skyblue;
    
}

button:hover{
    background-color: blue;
    color: white;
    box-shadow: 0px 0px 15px skyblue;
    
}
h1, h2{
    font-family: 'Manrope','Nixie One','Times New Roman', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

nav{
    text-align: right;
}


#intro{
    font-family: 'Manrope','Bakbak One','Times New Roman', Helvetica, sans-serif;
    font-size:40px;
    padding:20px;

}



body div{
    margin:20px;
    border: 3px solid black;
    border-radius: 15px;
    padding:10px;
    background-color: white;
    
}


